@import "../../app-theme.scss";

.progress-btn {

  $size: 24px + $app-padding;

  @include app-transition(all);
  
  border-radius: $app-border-radius;
  padding: 0px padding(1);
  height: $size;
  width: 100%;
  overflow: hidden !important;
  top: 0px;
  

  &[disabled] {
    opacity: 1;
    cursor: initial;
  }

  .progress-button-content {
    flex: 1;
    @include flex;
    align-items: center;
    justify-content: center;
  }

  &.normal[disabled] {
    opacity: 0.3;
  }

  &.progress {
    padding: 0px;
    width: $size;
    background: color(info);
    cursor: progress;

    .progress-bar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: auto;
      width: 30px;
      height: 30px;
      //background: color(light);
      position: relative;

      .progress-bar-dot {
        $anim-duration: $app-transition-duration*3;

        $dot-size: 5px;
        width: $dot-size;
        height: $dot-size;
        border-radius: $dot-size;
        background: color(light);
        //margin-right: $dot-size/2;
        animation: progress-anim $anim-duration $app-transition-easing ;
        animation-iteration-count: infinite;

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            animation-delay: $i*$anim-duration/6;
          }
        }

        //&:last-child { margin-right: none; }
      }
    }
  }

  &.complete {
    padding: 0;
    width: $size;
    background: color(success);
    animation: scale $app-transition-duration $app-transition-easing;
  }

  &.error {
    padding: 0;
    width: $size;
    background: color(danger);
    animation: scale $app-transition-duration $app-transition-easing;
  }

  & > .content {
    @include flex;
    align-items: center;
  }

  &.icon-left {
    .material-icons{ margin-right: padding(1); }
  }
  &.icon-right {
    .material-icons{ margin-left: padding(1); }
  }
}


@keyframes progress-anim {
  0% { transform: translateY(0px); }
  25% { transform: translateY(-10px); }
  50% { transform: translateY(0px); }
  100% { transform: translateY(0px); }
}

@keyframes scale {
  0% { transform: scale(0.2,0.2); }
  100% { transform: scale(1,1); }
}
