@import "../../app-theme.scss";

.input-grp {
  @include flex;
  @include app-border-radius;
  background: color(light);
  border: $app-border-width solid $app-divider;
  overflow: hidden;
  z-index: 1;

  &.focused {
    background: #FFF;
  }

  &.invalid {
    border-color: color(danger);

    .selected-option {
      color: color(danger);
    }
  }

  .label {
    font-weight: 500;
    font-size: 0.9em;
    color: $app-text;
    @include app-padding(0.5);
  }

  input {
    border: none;
    font-weight: 300;
    padding: padding(0.5);
    flex: 1;
    background: transparent;
    color: $app-text-secondary;
    @include app-transition(all);
    &:focus {
      color: $app-text;
    }
  }
}
