<div class="fill-page page" id="categoriesPage">
    <div class="action-bar">
      <app-input-text class="search" icon="search" [(ngModel)]="searchTxt" placeholder="Search..."></app-input-text>
      
      <div class="action-grp push-right">
          <button
            class="action-btn icon-left"
            [class.active]="isFrameOpened$(frameId.addCategory) | async"
            (click)="toggleFrame(frameId.addCategory)">
      
            <i class="material-icons md-18">add</i> Add Category
        </button>
      </div>
    </div>
    <div class="content">
      <div class="uk-grid-small uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid="masonry: true">
        <div class="data-table">
          <app-data-table
            [datas]="filteredCategories()"
            [keys]="datatableKeys"
            [attributes]="datatableAttrs"
            [selectedDatas]="selectedCategories"
            limit="10"
            sortBy="name"
          ></app-data-table>
        </div>

        <div>

          <div class="product-count-chart card">
            <h4 class="card-title"><i class="material-icons">donut_small</i> Products / Category</h4>
            <div class="card-content chart-container">
              <canvas id='product_count_chart'>{{ productCountChart }}</canvas>
            </div>
          </div>

        </div>

        <div>

          <div class="sales-chart card">
            <h4 class="card-title"><i class="material-icons">bar_chart</i> Sales / Category</h4>
            <div class="card-content chart-container">
              <canvas id="sales_chart">{{ salesChart }}</canvas>
            </div>
          </div>

        </div>
        
      </div>
    </div>

    <app-add-category></app-add-category>
  </div>