<div class="fill-page page" id="categoriesPage">
    <div class="action-bar">
      <app-input-text class="search" [(ngModel)]="searchTxt" placeholder="Search..."></app-input-text>
      
      <div class="action-grp push-right">
          <!-- <button
            class="action-btn icon-left"
            [class.active]="isFrameOpened$(frameId.addProduct) | async"
            (click)="openFrame(frameId.addProduct)">
      
            <i class="material-icons md-18">add</i> Add Product
        </button> -->
      </div>
    </div>
    <div class="content">
    </div>
  </div>