<div class="fill-page page" id="categoriesPage">
    <div class="action-bar">
      <app-input-text class="search" [(ngModel)]="searchTxt" placeholder="Search..."></app-input-text>
      
      <div class="action-grp push-right">
          <button
            class="action-btn icon-left"
            [class.active]="isFrameOpened$(frameId.addCategory) | async"
            (click)="toggleFrame(frameId.addCategory)">
      
            <i class="material-icons md-18">add</i> Add Category
        </button>
      </div>
    </div>
    <div class="content">
      <div style="width:50%;">
          <app-data-table
          [datas]="filteredCategories()"
          [keys]="datatableKeys"
          [attributes]="datatableAttrs"
          [selectedDatas]="selectedCategories"
          limit="10"
          sortBy="name"
        ></app-data-table>
      </div>
    </div>

    <app-add-category></app-add-category>
  </div>