<div class="input-grp" [class.invalid]="invalid">
  <button type="button" class="selected-option" (click)="toggleDropdown()">
    <div class="input-select-image" *ngIf="selectedOption && selectedOption.image">
      <img [src]="selectedOption.image">
    </div>
    <div class="input-select-content">{{selectedOption?.content || placeholder}}</div>
    <i class="material-icons md-18">expand_more</i>
  </button>
  <div class="options-container" [class.open]="dropdown">
    <ul class="options">
      <li class="option">
        <input type="text" name="selec" placeholder="Search.." class="search-input" [(ngModel)]="searchTxt">
      </li>
      <li class="option" *ngFor="let option of filteredOptions()">
        <button type="button" (click)="selectOption(option)">
          <div class="input-select-image" *ngIf="option.image">
            <img [src]="option.image">
          </div>
          <div class="input-select-content">{{option.content}}</div>
        </button>
      </li>
    </ul>
  </div>
</div>
