@import "../../app-theme.scss";

$track-size: 6px;
$thumb-size: 8px;

.input-range-container {
    position: relative;
    height: max($thumb-size, $track-size);
    padding: 0;

    .input-fill {
        display: block;
        position: absolute;
        left: 0;
        top: ($thumb-size - $track-size) / 2;
        height: $track-size;
        background: color(accent);

        @include app-border-radius;
        @include app-transition(width);
        cursor: pointer;
    }

    input.input-range {
        width: 100%;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        position: absolute;
        left: 0;
        top: ($thumb-size - $track-size)/2;
        height: $track-size;
    
        @mixin discount-range-slider {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            
            @include app-border-radius;                
            background: $app-divider;
            height: $track-size;
            cursor: pointer;
        }
    
        @mixin discount-range-thumb {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
    
            @include app-border-radius;
            @include app-transition(transform);
    
            margin-top: ($track-size - $thumb-size) / 2;
            background: color(primary);
            height: $thumb-size;
            width: $thumb-size;
            cursor: pointer;
        }

        @mixin discount-range-thumb-hover {
            transform: scale(1.2, 1.2);
        }
    
        &::-webkit-slider-runnable-track {
            @include discount-range-slider;
        }
    
        &::-moz-range-track {
            @include discount-range-slider;
        }
    
        &::-ms-track {
            @include discount-range-slider;
        }
    
        &::-webkit-slider-thumb {
            @include discount-range-thumb;
        }
    
        &::-moz-range-thumb {
            @include discount-range-thumb;
        }
    
        &::-ms-thumb {
            @include discount-range-thumb;
        }

        &:hover {
            &::-webkit-slider-thumb {
                @include discount-range-thumb-hover;
            }
        
            &::-moz-range-thumb {
                @include discount-range-thumb-hover;
            }
        
            &::-ms-thumb {
                @include discount-range-thumb-hover;
            }
        }
    
    }
}