<div class="fill-page page" id="discountsPage">

  <div class="content">

    <div class="uk-grid-small" uk-grid="masonry:true">

      <div class="uk-width-1-4@m uk-width-1-2@s uk-width-1-1@x">

        <div class="card discount-card">
          <div class="card-title">
            Discount
          </div>
  
          <div class="card-content">
            <div class="discount-value">{{range}}%</div>
            <app-input-range min="0" max="100" [(ngModel)]="range"></app-input-range>
          </div>
        </div>

      </div>

    </div>
    
  </div>

</div>