/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

//@import url('https://fonts.googleapis.com/css?family=Righteous');

@import "app/app-theme.scss";

body {
  width: 100%;
  height: 100%;
  color: color(dark);
  font-family: $app-font-family;
  font-size: 14px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  &:focus { box-shadow: none; }
}

@each $name, $val in $colors {
  .text-#{$name} {
    color: $val;
  }
  .bg-#{$name} {
    background: $val;
  }
}

@each $name, $val in $font-weights {
  .font-#{$name} {
    font-weight: $val;
  }
}

@each $name, $val in $icon-sizes {
  .material-icons.#{$name} {
    font-size: $val;
  }
}

button {
  display: inline-flex;
  align-items: center;
  border: none;
  background: color(accent);
  color: color(light);
  font-family: $app-font-family;
  @include app-padding;
  @include app-border-radius;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

  &[disabled="true"] {
    opacity: 0.5;
    cursor: pointer;
  }

  &.rounded-corners {
    @include app-border-radius(50rem);
    padding: padding(1) padding(2);
    &.icon-left {
      padding-left: padding(1);
    }
    &.icon-right {
      padding-right: padding(1);
    }
  }

  &.icon-left {
    .material-icons { margin-right: padding(1); }
  }

  &.icon-right {
    .material-icons { margin-left: padding(1); }
  }

  &:active {
    transform-origin: 50% 50%;
    transform: scale(0.95,0.95);
  }
}

input {
  font-family: $app-font-family;
}

textarea.input-textarea {
  @include app-padding;
  width: 100%;
  border: $app-border-width solid $app-divider;
  @include app-border-radius;
  height: 200px;
  font-weight: 300;
  font-size: 0.9em;
  background: color(light);
  color: $app-text-secondary;
  resize: none;
  font-family: $app-font-family;
  @include app-transition(all);

  &:focus {
    color: $app-text;
    background: #FFF;
  }

  &.invalid {
    border-color: color(danger);
    color: color(danger);
  }
}

table {
  &.fill {
    width: 100%;
  }
  tr {
    font-weight: 300;
    &.header { 
      font-weight: 500; 
      color: color(primary);
    }
    border-bottom: $app-border-width solid $app-divider;
  }

  td {
    @include app-padding;
  }
}

.fill-page {
  width: 100%;
  height: calc(100% - #{$app-titlebar-height});
}

.spacer {
  display: block;
  height: padding(1);
  background: transparent;
  &.half {
    height: padding(0.5);
  }
  &.double {
    height: padding(2);
  }
}

.hidden { visibility: hidden; }

$i:0;
@while $i < 360 {
  .rot-#{$i} {
    transform: rotate(#{$i}deg);
  }
  $i: $i+15;
}

//page
.page {

  position: relative;
  overflow-x: hidden;
  @include flex(column);

  .content {
    flex: 1;
    @include app-padding;
  }

  .action-bar {
    @include flex(row);
    align-items: center;
    height: $app-titlebar-height;
    background: color(light);
    border-bottom: $app-border-width solid $app-divider;
    @include app-padding;

    app-input-text.search { flex:1 }

    .action-grp {

      @include flex(row);

      align-items: center;
      &.push-right { margin-left: auto; }

    }

    .action-btn {
      color: $app-text-secondary;
      justify-content: center;
      background: transparent;
      position: relative;
      padding: padding(0.5);
      font-size: 0.9em;
      @include app-transition(color);
      @include tooltip('.action-tooltip', 'bottom', 16px, tooltip-anim-drop);
      @include app-border-radius;

      &.active, &.active:hover {
        color: color(primary);
      }

      &:hover {
        color: $app-text;
      }

      &.icon-left {
        .material-icons {
          margin-right: padding(0.5);
        }
      }

      &.imp {
        background: color(primary);
        color: color(light);
        @include app-transition(background);
        &:hover {
          background: $app-primary-dark;
        }
      }
    }
  }//action-bar
}

//cards
.card {
  background: color(light);
  border: $app-border-width solid $app-divider;
  @include app-border-radius;

  .card-title {
    font-weight: 500;
    @include app-padding;
    @include flex;
    align-items: center;
    margin: 0;

    .material-icons { margin-right: padding(1)}
  }

  .card-content {
    @include app-padding;
  }
}

//chart-container
.chart-container {
  position: relative;
}

//Croppie
.cr-slider {

  @mixin range-thumb {
    width: padding(0.5);
    height: padding(1);
    @include app-border-radius;
    background: color(primary);
    cursor: pointer;
    @include app-transition(all);
    transform-origin: 50% 50%;
  }

  @mixin range-thumb-hover {
    width: padding(1);
  }

  @mixin range-track {
    height: 4px;
    background: $app-divider;
    @include app-transition(background);
  }

  @mixin range-track-hover {
    background: color(dark);
  }

  //cross-browser
  &::-webkit-slider-runnable-track  {
    @include range-track;
  }

  &::-webkit-slider-thumb {
    @include range-thumb;
  }

  &::-moz-range-track {
    @include range-track;
  }

  &::-moz-range-thumb {
    @include range-thumb;
  }

  &::-ms-track {
    @include range-track;
  }

  &::-ms-thumb {
    @include range-thumb;
  }

  &:hover {
    &::-webkit-slider-runnable-track  {
      @include range-track-hover;
    }

    &::-webkit-slider-thumb {
      @include range-thumb-hover;
    }

    &::-moz-range-track {
      @include range-track-hover;
    }

    &::-moz-range-thumb {
      @include range-thumb-hover;
    }

    &::-ms-track {
      @include range-track-hover;
    }

    &::-ms-thumb {
      @include range-thumb-hover;
    }
  }
}
