<app-offcanvas
  frameTitle="Add Product"
  [opened]="isFrameOpened$(frameId.addProduct) | async">

  <div class="product-frame-content">
    <form class="add-product-form" [formGroup]="productForm" (submit)="addProduct()">
      <div class="product-general-details">
        <!-- Featured Image -->
        <app-input-image (change)="selectImage($event)" #featuredImageInput></app-input-image>
        <!-- Name, Category -->
        <div class="product-details">
          <app-input-switch label="featured" formControlName="featured"></app-input-switch>
          <div class="spacer"></div>
          <app-input-text placeholder="Product Name" formControlName="name" [invalid]="isInvalid('name')"></app-input-text>
          <div class="spacer"></div>
          <app-input-select formControlName="category" [options]="categories$ | async" placeholder="Category" [invalid]="isInvalid('category')"></app-input-select>
          <div class="spacer"></div>
          <app-input-currency placeholder="Price" formControlName="price" [invalid]="isInvalid('price')"></app-input-currency>
          <div class="spacer"></div>
          <app-input-text placeholder="Unit" formControlName="unit" [invalid]="isInvalid('unit')"></app-input-text>
          <div class="spacer"></div>
          <label for="discount" class="font-light">Discount: <span class="font-medium">{{productForm.controls.discount.value}}%</span></label>
          <app-input-range min="0" max="100" formControlName="discount"></app-input-range>
        </div>
      </div>
      <div class="product-desc">
        <label for="productDescription" class="font-light">Description</label>
        <textarea formControlName="description" class="input-textarea" [class.invalid]="isInvalid('description')"></textarea>
      </div>
      <div class="spacer"></div>
      <app-progress-button iconLeft="true" [task]="addTask" class="bounceIn" *ngIf="productForm.valid && featuredImage"><i class="material-icons">add</i>Add Product</app-progress-button>
      <div class="spacer"></div>
    </form>
  </div>

</app-offcanvas>
